.section-container {
    height: fit-content;
    display: flex;
    flex-direction: row;    
}

.section {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.resume-btn{
    padding: 8px 15px !important;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px !important;
    text-decoration: none !important;

    color: #001024 !important;
    border: 2px solid #001024;

    color: white !important;
    border: 1px solid #001024;
    border-radius: 0 10px 0 10px;
    background-color: #001024 !important;
}

.reverse #section-left {
    order: 2;
}

.reverse #section-right {
    order: 1;
}
